<h1>Home Page</h1>

<button (click)="goToUsers()">
    Navigate to Users
</button>

<br><br>

<button (click)="goToAbout()">
    Navigate to About
</button>

<button
    (click)="goUsersByUrl()">

    NavigateByUrl Users

</button>

<button (click)="goToUsersWithQueryParams()">
    Users With Query Params
</button>

<button (click)="goToUsersWithState()">
    Users With State
</button>

<button (click)="goToUsersReplaceUrl()">
    Users (replaceUrl)
</button>

<button (click)="goToUsersSkipLocation()">
    Users (skipLocationChange)
</button>

<button (click)="goToUsersRelative()">
    Users (skipLocationChange)
</button>